@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {

    --fonte-1: verdana, Geneva, tahoma, sans-serif;
    
    --fonte-2: 'Passion One', cursive;

    --fonte-3: 'Sriracha', cursive;
}


* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte-1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte-2);
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 4.5vw;
    word-spacing: 5px;
}

header p {
    padding-bottom: 50px;
    font-size: 2.5vw;
    word-spacing: 2px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte-3);
    font-size: 2.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: darkkhaki;
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 5px;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.463);
    display: inline-block;
    padding: 10px;
    text-shadow:  1px 1px 0px black;
    border-radius: 15px;
}

section#img1 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    
}

section#img2 {
    background-image: url(imagens/background002.jpg);
    
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}